extends ../layout

block content
  div#page-wrapper
    .main-page
      .grids
        .progressbar-heading.grids-heading
          h2 New User
        include ../partials/flash
        .panel.panel-widget.forms-panel
          form(method="post", action="/addExcel", enctype="multipart/form-data").form-horizontal  
            .form
              div(class="form-grids widget-shadow" data-example-id="basic-forms")
                .form-title
                  h4 Add List Users
                .form-body
                  .form-group
                    .btn.btn-default.btn-file
                      i.fa.fa-paperclip
                      span File Excel
                      input( type="file" name="file_path" id="file_path" placeholder="Address")
                    p.help-block
                      a(href="/sample/Sample-data-user.xlsx") Download File Sample
                  .col-sm-offset-2
                    button(type="submit" class="btn btn-danger") Add New
            .form
              div(data-example-id="basic-forms")
                .form-title
                  h4 Kết Quả
                for user in arrUsers
                  div(class="inbox-row widget-shadow" id="accordion" role="tablist" aria-multiselectable="true")
                    .mail.mail-name(style="background-color:" + user.style)
                      p= user.username
                      p= user.phone
                      p= user.reportto
                    .mail(style="background-color:" + user.style)
                      p= user.fullname
                      p= user.identity_card
                    .mail(style="float: right")
                      p= user.resultInsert
                    .clearfix