extends layout

block content
  link(rel='stylesheet', href='http://cdn.syncfusion.com/14.1.0.41/js/web/flat-azure/ej.web.all.min.css')
  script(src="http://cdn.syncfusion.com/js/assets/external/jquery-1.10.2.min.js")
  script(src="http://cdn.syncfusion.com/js/assets/external/jsrender.min.js")
  script(src="http://cdn.syncfusion.com/js/assets/external/jquery.globalize.min.js")
  script(src="http://cdn.syncfusion.com/js/assets/external/jquery.easing.1.3.min.js")
  script(src="http://cdn.syncfusion.com/14.1.0.41/js/web/ej.web.all.min.js")
  div(id="page-wrapper")
    .main-page
      .row.four-grids
        .col-md-3.ticket-grid
          .tickets
            .grid-left
              .book-icon
                i.fa.fa-book
            .grid-right
              h3 Users
              p= countSum
              br
              br
              h3 Monthly
              p= countMonth
              br
            .clearfix
        .col-md-3.ticket-grid
          .tickets
            .grid-left
              .book-icon
                i.fa.fa-rocket
            .grid-right
              h3 Users DeActive
              p= countSumDeActive
              br
              br
              h3 Monthly
              p= countDeActiveMonth
              br
            .clearfix
        .col-md-3.ticket-grid
          .tickets
            .grid-left
              .book-icon
                i.fa.fa-user
            .grid-right
              h3 Users Active
              p= countSumActive
              br
              br
              h3 Monthly
              p= countActiveMonth
              br
            .clearfix
        .col-md-3.program-grid
          .panel.panel-widget
            .panel-title(style="font-size: 14px")
              span Monthly
            .chart-skills
              .skills-holder(id="canvas-holder")
                canvas(id="chart-area" width="300" height="300")
      .row
        .col-md-12.monthly-grid
          .panel.panel-widget
            .panel-title
              span Tree View
            .panel-body
              div(id="Treegrid").col-md-9
  script(type='text/javascript').
    function loadData(id){
      // alert(id);
      // $("#" + id).load("/currentdev");
      $("#" + id).load("/currentdev");
    }           
  script(src='/js/Chart.Core.js')
  script(src='/js/Chart.Doughnut.js')
  script.
    var doughnutData = [
      {
        value: !{countActiveMonth},
        label: "Active",
        color: "#99CC00"
      },
      {
        value: !{countDeActiveMonth},
        label: "DeActive",
        color: "#FF3300"
      }];
    window.onload = function () {
      var ctx = document.getElementById("chart-area").getContext("2d");
      window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, { responsive: true });
    };
  script.
    var old_index = 0;
    var common = 0;
    function AddABCRow(filter, index){
      // alert(index)
      // document.getElementById("" + index).remove();      
      var treeObj = $("#Treegrid").data("ejTreeGrid");          
      // treeObj.setModel({ "selectedRowIndex": index });
      // var tr =  $(this).closest("tr").index();
      // alert("tre" + tr)
      // alert(filter + " = "+ index);
      $.get('/currentdev/' + index, function(result) {
        // console.log(result.length + "độ dài");
        for( var j = 0; j < result.length; j++){
          var data = result[j];
          data.username = '<a id="'+ data.id +'" onclick="AddABCRow('+ data.id +',' + data.id + ')"><div class="e-icon e-treegridcollapse" style="float:left;display:inline-block; font-size:10px;"></div></a> ' + data.username + " - " + data.fullName;
          data.id = data.id;
          data.code_level = data.code_level + " - " + data.badge + " - " + data.onboard_date;
          // alert("dataa "+ data.id);
          //if(index > old_index)
            // treeObj.setModel({ "selectedRowIndex": index });
          //else
          //   treeObj.setModel({ "selectedRowIndex": index + common });
          // console.log(ej.TreeGrid.RowPosition);
          
          var table, tr, td, i;
          
          table = document.getElementById("Treegride-table");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            // alert(td.innerHTML);
            if (td) {
              // alert(td.innerHTML + " === " + filter);
              if (td.innerHTML.indexOf(filter) > -1) {
                // alert(td.innerHTML.indexOf(filter));
                // alert(i + "i");
                treeObj.setModel({ "selectedRowIndex": i });
      
                // treeObj.setModel({ "selectedRowIndex": index });
                treeObj.addRow(data, ej.TreeGrid.RowPosition.Child);
               } else {
                // alert("khong")
               }
            }       
          }



          
          
          /*if(i > 0){
            treeObj.addRow(data, ej.TreeGrid.RowPosition.Above);
          }else{
            treeObj.addRow(data, ej.TreeGrid.RowPosition.Child);
          }*/
          
          
        }
        
        common = common + result.length;
        
        document.getElementById("" + index).remove();
      });
      // alert(common);
      
    }
  script.
    var projectData= '!{users}';
    projectData = JSON.parse(projectData)
     
    var projectDataXl = [];
    for(var i=0; i< projectData.length ; i++){
      // console.log(projectData[i].username);
      var obj_new = {
        id: projectData[i].id,
        username : ' <a id="' + projectData[i].id + '" onclick="AddABCRow('+ projectData[i].id +',' + projectData[i].id + ')"><div class="e-icon e-treegridcollapse" style="float:left;display:inline-block; font-size:10px;"></div></a>'+ projectData[i].username + " - " + + projectData[i].fullName ,
        code_level : projectData[i].code_level + " - " + projectData[i].badge + " - " + projectData[i].onboard_date
      }
      projectDataXl[i] = obj_new;
    }
    // console.log(projectDataXl); //[object Object],[object Object]

    $(function () {

        $("#Treegrid").ejTreeGrid({
            dataSource: projectDataXl,
            childMapping: "subtasks",
            columns: [
                { field: "id", headerText: "ID", width: "8"},
                { field: "username", headerText: "Username"},
                { field: "code_level", headerText: "Level code - badge - onboard_date", width: "55" }
            ],
            rowHeight : 45,
            sizeSettings: {
            },
            treeColumnIndex: 1
        });
    });
